.nav-item {
  border: none;
}

.nav-item:hover .fs-dropdown-menu,
.nav-item:hover .la-dropdown-menu {
  display: block;
}

.fs-dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.la-dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 40px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  right: 10px;
}

.lang,
.la-dropdown-menu > .la-dropdown-item {
  cursor: pointer;
}

.fs-dropdown-menu .fs-dropdown-item,
.la-dropdown-menu .la-dropdown-item {
  color: #343a40;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: white;
}

.fs-dropdown-menu .fs-dropdown-item:hover,
.la-dropdown-menu .la-dropdown-item:hover {
  background-color: #ddd;
  color: white;
}