<div class="container about">

  <div class="row">
    
    <div class="col-lg-4">
      <img class="rounded-circle" src="assets/img/com/dummy_person.png" alt="Generic placeholder image">
      <h2>{{ 'MEMBER.OWNER.NUM_1.NAME' | translate }}</h2>
      <p>{{ 'MEMBER.OWNER.NUM_1.DESCRIPTION' | translate }}</p>
      <p><a class="btn btn-secondary" href="javascript:void(0);" role="button">View details &raquo;</a></p>
    </div>
    
    <div class="col-lg-4">
      <img class="rounded-circle" src="assets/img/com/dummy_person.png" alt="Generic placeholder image">
      <h2>{{ 'MEMBER.OWNER.NUM_2.NAME' | translate }}</h2>
      <p>{{ 'MEMBER.OWNER.NUM_2.DESCRIPTION' | translate }}</p>
      <p><a class="btn btn-secondary" href="javascript:void(0);" role="button">View details &raquo;</a></p>
    </div>
    
    <div class="col-lg-4">
      <img class="rounded-circle" src="assets/img/com/dummy_person.png" alt="Generic placeholder image">
      <h2>{{ 'MEMBER.OWNER.NUM_3.NAME' | translate }}</h2>
      <p>{{ 'MEMBER.OWNER.NUM_3.DESCRIPTION' | translate }}</p>
      <p><a class="btn btn-secondary" href="javascript:void(0);" role="button">View details &raquo;</a></p>
    </div>
  
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">{{ 'MEMBER.OWNER.NUM_1.ABOUT' | translate }}<br/>
      	<span class="text-muted">{{ 'MEMBER.OWNER.NUM_1.MOTTO' | translate }}</span>
      </h2>
      <p class="lead">{{ 'MEMBER.OWNER.NUM_1.INTRODUCTION' | translate }}</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="assets/img/person/img1.png" alt="Generic placeholder image">
    </div>
  </div>
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">{{ 'MEMBER.OWNER.NUM_2.ABOUT' | translate }}<br/>
      	<span class="text-muted">{{ 'MEMBER.OWNER.NUM_2.MOTTO' | translate }}</span>
      </h2>
      <p class="lead">{{ 'MEMBER.OWNER.NUM_2.INTRODUCTION' | translate }}</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="assets/img/person/img2.png" alt="Generic placeholder image">
    </div>
  </div>
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">{{ 'MEMBER.OWNER.NUM_3.ABOUT' | translate }}<br/>
      	<span class="text-muted">{{ 'MEMBER.OWNER.NUM_3.MOTTO' | translate }}</span>
      </h2>
      <p class="lead">{{ 'MEMBER.OWNER.NUM_3.INTRODUCTION' | translate }}</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="assets/img/person/img3.png" alt="Generic placeholder image">
    </div>
  </div>
  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->