<header>
  <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="javascript:void(0);">☆彡{{ navbarTitle | translate }}☆ミ</a>

    <div class="navbar-collapse offcanvas-collapse" id="fs-main-navbars">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" 
             routerLink="/"
             routerLinkActive="current"
             [routerLinkActiveOptions]="{exact: true}">
            {{ 'NAVBAR.HOME' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
             routerLink="/about"
             routerLinkActive="current">
            {{ 'NAVBAR.ABOUT' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
             routerLink="/contact"
             routerLinkActive="current"
             aria-haspopup="true">
            {{ 'NAVBAR.CONTACT' | translate }}
          </a>
        </li>
      </ul>
      <!-- form -->
      <form class="form-inline my-2 my-lg-0">
        <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
        <button class="btn btn-outline-success my-2 mr-sm-1" type="submit">{{ 'BUTTON.LOGIN' | translate }}</button>
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">{{ 'BUTTON.SIGNIN' | translate }}</button>
        <button class="btn"><img src="assets/img/tools/fs_cart_25.png"></button>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link dropdown-toggle lang">{{ selectedLangName | translate }}</a>
            <div class="la-dropdown-menu">
              <a class="la-dropdown-item" 
                 *ngFor="let opt of langOpts"
                 [hidden]="opt.id === selectedLang"
                 (click)="SwitchLanguage(opt.id)">
               {{ opt.displayName | translate }}
             </a>
            </div>
          </li>
        </ul>
      </form>

    </div>

  </nav>
</header>
<main role="main">
  <router-outlet></router-outlet>
</main>